.vscode

# TimeSformer - toolset
mmaction2

# models
# TimeSformer のリポジトリよりダウンローダーしてください
# https://github.com/facebookresearch/TimeSformer#model-zoo
models

# temp files
temp

# python venv
venv

# DataSet
dataset
